.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

a, a:active, a:visited, a:focus
{
  color: inherit;
  text-decoration: none;
  
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.jumbotron {
  background-image: url('./200814092431-01b-michael-jordan-sneakers-auction.jpg');
  background-position: center;
  background-size: cover;
}

.text-wrap {
  background-color: rgba(0, 0, 0, 0.63);
  color: #fff;
}

/* .shoe-list {
  display: flex;
  justify-content: center;
} */

.shoe-img {
  width: 100%;
}

.loading-wrap {
  position: fixed;
  /* width: 100%; */
  padding: 0 40px 10px 40px;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: #282c34ad;
  box-sizing: border-box;
}
.loading {
  color: #fff;
  font-size: 100px;
  animation: loding 0.4s alternate infinite;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes loding {
  to {
    opacity: 0.2;
  }
}
